<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PEA-公告</title>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/pea.css" rel="stylesheet">
<!--     <link rel="stylesheet" href="./css/styles.css"> -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>

    </style>
</head>

<body style="background-color:#282828">

    <div class="container-fluid">
        <!-- head -->
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="A">
                    <div class="page-header">
                            <a href = "/" class="titlePea"><h1>PEA </a><small>公告</small><center><font color="white">招新事宜</font></center></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
            </div>
                    
            <div class="col-md-8">
                <div class="row" style="height: 50px"></div>
                <font color="#FFFFFF">
                    <caption>招新相关信息</caption>
                    <div>
                        <table class="table table-stripe">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>内容</th>
                                    <th>发布时间</th>
                                    <th>到期时间</th>
                                    <th>发布者</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">0</th>
                                    <th><a href = "/joinUs">招新赛报名表</a></th>
                                    <th>2017.9.21</th>
                                    <th>2017.10.21</th>
                                    <th>Admin</th>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <th><a href = "/notice/D">软件题</a></th>
                                    <th>2017.9.21</th>
                                    <th>2017.10.21</th>
                                    <th>Admin</th>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <th><a href = "/notice/A">硬件A题&mdash;温度光强监测装置</a></th>
                                    <th>2017.9.21</th>
                                    <th>2017.10.21</th>
                                    <th>Admin</th>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <th><a href = "/notice/B">硬件B题&mdash;简易电子琴</a></th>
                                    <th>2017.9.21</th>
                                    <th>2017.10.21</th>
                                    <th>Admin</th>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <th><a href = "/notice/C">硬件C题&mdash;声光控延时自灭灯 </a></th>
                                    <th>2017.9.21</th>
                                    <th>2017.10.21</th>
                                    <th>Admin</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </font>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <footer id="footer">
                <div class="row" style="height: 100px"></div>
        </footer>
       
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>