<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2017招新赛题目</title>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/pea.css" rel="stylesheet">
<!--     <link rel="stylesheet" href="./css/styles.css"> -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>

    </style>
</head>

<body style="background-color:#282828">

    <div class="container-fluid">
        <!-- head -->
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="A">
                    <div class="page-header">
                        <a href = "/" class="titlePea"><h1>PEA</a><small>招新赛题目-硬件组</small></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
            </div>
                    
            <div class="col-md-8">
                <div class="row" style="height: 50px"></div>
                <font color="#FFFFFF">
                    <center><h1>温度光强监测装置（A题）</h1></center>
                    
                    <h2>一、任务</h2>
                    
                    <p>设计并制作一个可以监测环境温度和光强的装置，并能够把数据显示出来，其系统框图如下。 </p>
                    
                    <p><img src="/imgs/QA/15059690390368.jpg" alt=""/>￼</p>
                    
                    <h2>二、要求</h2>
                    
                    <h3>基本要求</h3>
                    
                    <ol>
                    <li><p>装置能够检测光强信息（可使用模块），并且数据能够通过串口调试工具显示在电脑上。（20分）</p></li>
                    <li><p>装置能够检测温度信息（可使用模块），并且数据能够通过串口调试工具显示在电脑上。（20分）</p></li>
                    </ol>
                    
                    <h3>发挥要求</h3>
                    
                    <ol>
                    <li><p>保证温度与光强的稳定性，即环境稳定时，测得的数据波动不大。（30分）</p></li>
                    <li><p>数据通过OLED屏幕显示。（30分）</p></li>
                    </ol>
                    
                    <h2>三、说明</h2>
                    
                    <ol>
                    <li>器件说明：运放芯片，温度传感器及光强传感器会提供，具体数值及管脚资料可于datasheet上面查找，传感器不能高温长时间焊接，管脚如接错易烧坏器件，器件数量有限请小心使用。</li>
                    <li>电路说明：电路图会提供，仅需要自己根据提供的公式计算各电阻阻值，运放放大倍数及RC滤波电路。</li>
                    <li>焊接说明：测量电路对于稳定性有比较高的要求，焊锡尽量平滑，避免出现毛刺，信号稳定。可能出现的问题：管脚紧密造成短路（小心焊接），光敏传感器及温度传感器管脚接错造成数据错误，运放正反相端接反导致无信号输出，焊接错误造成短路（建议上电之前测试电路短路与否），放大后的电压大于3.3v造成单片机过载（建议连接单片机前上电测试）。</li>
                    <li>本装置可以使用单片机STM32F 103C8T 6，该单片机的最小系统板可自己网上购买也可去科协借用，借用时需登记个人信息（姓名学号联系方式等）并缴纳 20 元押金，比赛结束或作品完成并归还板子后即可退回。</li>
                    </ol>
                    
                    </div>
                    
                    
                </font>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <footer id="footer">
                <div class="row" style="height: 100px"></div>
        </footer>
       
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>