<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2017招新赛题目</title>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/pea.css" rel="stylesheet">
<!--     <link rel="stylesheet" href="./css/styles.css"> -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>

    </style>
</head>

<body style="background-color:#282828">

    <div class="container-fluid">
        <!-- head -->
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="A">
                    <div class="page-header">
                        <a href = "/" class="titlePea"><h1>PEA</a><small>招新赛题目-硬件组</small></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
            </div>
                    
            <div class="col-md-8">
                <div class="row" style="height: 50px"></div>
                <font color="#FFFFFF">
                    <center><h1>声光控延时自灭灯（C题）</h1></center>
                    <h2>一、任务</h2>
                    
                    <p>设计并制作一个有声音和外界光照控制的可延时自动熄灭的灯，其系统框图如图1所示。灯由LED代替模拟。</p>
                    
                    <p>图一：声光控延时自灭灯系统框图</p>
                    
                    <p><img src="/imgs/QC/6D862B6AA1BF5057A6A58CE15F2EDE2B.png" alt="声光控延时自灭灯系统框图" width="col-md-8"/>￼</p>
                    
                    <p>图二：发挥部分-呼吸灯系统框图</p>
                    
                    <p><img src="/imgs/QC/F06B13142FD8F79FCEBE77EAC9520249.png" alt="发挥部分-呼吸灯系统框图" width="col-md-8"/>￼</p>
                    
                    <p>图三：发挥部分-线性稳压电源系统框图</p>
                    
                    <p><img src="/imgs/QC/6D862B6AA1BF5057A6A58CE15F2EDE2B.png" alt="发挥部分-线性稳压电源系统框图" width="col-md-8"/>￼</p>
                    
                    <p>图四：单片机实现-系统框图</p>
                    
                    <p><img src="/imgs/QC/FDEAD0B0090C650502A4730D82852D07.png" alt="单片机实现-系统框图" width="col-md-8"/>￼</p>
                    
                    <h2>二、要求</h2>
                    
                    <ol>
                    <li><p>基本要求：<br/>
                    在有光的情况下无论如何都不发光。             （20分）<br/>
                    在无光的情况下声控发光，音量接近于咳嗽音量。 （20分）<br/>
                    灯亮后延时10s灯灭。                         （20分）</p></li>
                    <li><p>发挥部分：<br/>
                    额外制作一个呼吸灯，呼吸频率可调。       （15分）<br/>
                    灯亮后的延时5s～20s可控。             （15分）<br/>
                    自制线性稳压电源（市电）。               （20分）</p></li>
                    </ol>
                    
                    <h2>三、说明</h2>
                    
                    <ol>
                    <li>声音信号由拾音器拾取并转换为电信号，本次比赛科协将提供本元件。</li>
                    <li>外界光照信号由光敏电阻将光信号转换为电信号，本次比赛科协将提供本元件。</li>
                    <li>本题目可以使用纯硬件电路搭建并实现对应功能，主控芯片NE555科协将会提供。同时也可以使用单片机，使用软件编程的方式实现对应功能，系统框图见图4。主控芯片最小系统板为STM32F103C8T6。</li>
                    <li>说明（3）中的最小系统板为公用物品，可供大家借用，借用时需登记个人信息（姓名学号联系方式等）并缴纳20元押金，比赛结束或作品完成并归还板子后即可退回。</li>
                    <li>发挥部分中的线性稳压电源（市电）中，变压器无需大家购买，整流桥使用二极管搭建，所需要的元件中的大部分会由科协提供。由于连接市电具有一定的危险性，请大家严格按照我们提供的电路图焊接，调试时必须有一位以上学长在场，绝对不允许自己调试上电。</li>
                    <li>供电接口的规定：单电源电路使用VH3.96 2Pin专用接插件，双电源电路使用VH3.96 3Pin专用接插件（接插件会提供）未使用规定接口的作品不予测试。</li>
                    </ol>   
                </font>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <footer id="footer">
                <div class="row" style="height: 100px"></div>
        </footer>
       
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>