<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2017招新赛题目</title>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/pea.css" rel="stylesheet">
<!--     <link rel="stylesheet" href="./css/styles.css"> -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>

    </style>
</head>

<body style="background-color:#282828">

    <div class="container-fluid">
        <!-- head -->
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="A">
                    <div class="page-header">
                        <a href = "/" class="titlePea"><h1>PEA</a><small>招新赛题目-软件组</small></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
            </div>
                    
            <div class="col-md-8">
                <div class="row" style="height: 50px"></div>
                <font color="#FFFFFF">
                    <center><h1>软件组题目</h1></center>
                    <h2>一、任务</h2>
                    
                    <p>请自学编程逻辑，C/C++,Python,LaTeX 等语言的基础知识，量力完成Virtual Judge在线评测系统上的习题以及高级数据结构、文档排版、网络爬虫等发挥任务。<br/>
                    （网址：<a href="https://cn.vjudge.net/contest/184123">https://cn.vjudge.net/contest/184123</a> ）</p>
                    
                    <h2>二、要求</h2>
                    
                    <h3>基本要求</h3>
                    
                    <p>使用任意编程语言，完成Virtual Judge上的10道语法题。</p>
                    
                    <h3>发挥要求</h3>
                    
                    <ol>
                    <li>使用C/C++语言实现链表数据结构，要求实现“增、删、改、查”四个功能。</li>
                    <li>使用LaTeX语言仿制本文档的前(3)页，本文档内容可直接复制。</li>
                    <li>使用Python语言实现网络爬虫，从物电科协的官方网站搜集20张图片。（网址：<a href="http://208.167.248.219/">http://208.167.248.219/</a> ）</li>
                    </ol>
                    
                    <h2>三、说明</h2>
                    
                    <ol>
                    <li>所有题目必须以源代码形式提交。</li>
                    <li>其他的嘛...中国有一句古话叫“闷声大发财”，我就什么都不说，这是坠吼的。</li>
                    </ol>
                    
                    </div>
                    
                </font>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <footer id="footer">
                <div class="row" style="height: 100px"></div>
        </footer>
       
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>