<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2017招新赛题目</title>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/pea.css" rel="stylesheet">
<!--     <link rel="stylesheet" href="./css/styles.css"> -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>

    </style>
</head>

<body style="background-color:#282828">

    <div class="container-fluid">
        <!-- head -->
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="A">
                    <div class="page-header">
                        <a href = "/" class="titlePea"><h1>PEA</a><small>招新赛题目-软件组</small></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
            </div>
                    
            <div class="col-md-8">
                <div class="row" style="height: 50px"></div>
                <font color="#FFFFFF">
                    <center><h1>软件组题目</h1></center>
                    <center><h2>尚未完成，敬请期待</h2></center>
                    <ul>
                        <li>本次招新赛软件组题目的基础要求部分采用<a href="https://cn.vjudge.net/">Vjudge</a>平台自动评测，请采用Google Chrome浏览器浏览本网站。</li>
                        <li>比赛链接：<a href="https://cn.vjudge.net/contest/184123">物电科协招新赛软件组</a>，密码：uestcpea2017。</li>
                        <li>Vjudge使用方法：首先注册，进入比赛后点击Problem一栏浏览各题，根据题目内容以及<strong>指定输入输出格式</strong>（题目下方有样例）完成题目并提交，提交后可在Status中查看运行结果。<a href="http://blog.csdn.net/violet_echo_0908/article/details/47375791">运行结果种类及含义</a></li>
                        </ul>
                        <h2 class="mume-header" id="ide&#x96C6;&#x6210;&#x5F00;&#x53D1;&#x73AF;&#x5883;">IDE（集成开发环境）</h2>
                    
                    
                </font>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <footer id="footer">
                <div class="row" style="height: 100px"></div>
        </footer>
       
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>